

/* 添加小圆点 */
.friend-links a::before {
	content: "·";
	margin-right: 5px;
	color: #666;
}

/* 适配中等屏幕 */
@media (min-width: 992px) {
	.friend-links .col-md-10per {
		width: 10%;
		float: left;
	}
}

@media (min-width: 768px) {
	.col-sm-3 {
		width: 33.33333%;
		float: left;
	}
}

h2 {
	margin-bottom: 2rem;
}

.friend-links a {
	display: block;
	padding: 5px 15px;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.friend-links a:hover {
	color: #337ab7;
}

.footer-top {
	background-color: #26a26f;
	padding: 30px 0;
	color: white;
	text-align: center;
}

.footer-top dt h6 {
	font-size: 14px;
}

.footer-top dl {
	line-height: 2;
}

.footer-top dt,
.footer-top dd {
	display: inline;
}

.footer-top dd a {
	color: white;
	font-size: 10px;
}

.footer-top .foot-links {
	margin: 0 auto;
}

.footer-copyright {
	background-color: #29b078;
	border-top: 1px solid #239562;
	padding: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
}
