header {
	display: flex;
	flex-direction: column;
	overflow: visible;
}

.top {
	margin-right: 5%;
}

.top span {
	text-align: left;
	font-size: 1rem;
	margin-left: 5%;
	margin-top: 0.4%;
	color: #29b078;
}

.top img {
	float: right;
	margin-top: 0.4%;

}

/* .top-nav {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	line-height: 6.25rem;
	width: 100%;
	background-color: #29b078;
	padding-right: 5%;
} */

/* .skilltree {
	overflow: visible;
	float: left;
	padding-left: 5%;
}
 */

/* .menu a {
	float: none;
	font-size: 0.625rem;
	text-align: center;
	color: #fff;
	margin-left: 1.5rem;
	text-decoration: none;
}

.menu :hover {
	cursor: pointer;
	border-bottom: 1px solid #fff;
	text-decoration: none;
} */
.h-green-wrap {
	width: 100%;

	background-color: #29b078;

}

.h-green {
	margin-top: 0 !important;

	/* height: 10rem; */

	background-color: #29b078;

}

.navbar-collapse {
	flex-direction: row-reverse;
}

.navbar-brand {
	padding: 0;
}

.nav-link {
	float: right;
}

.h-green-p {
	display: inline-flex;

	align-items: center;

	justify-content: center;

	padding: 0;

	/* width: 12rem;

	height: 7.5rem; */

	color: #fff;

	font-size: 2rem;

}


@media screen and (min-width: 768px) and (max-width: 992px) {
	.h-green {
		padding-top: 20px;

		padding-bottom: 20px;

		height: auto;

	}

	.h-green-p {
		display: flex;

		align-items: center;

		justify-content: center;

		margin-top: 10px;

		margin-bottom: 0;

		width: 12rem;

		height: 1rem;

		color: white;

		font-size: 2.5rem;

	}

	a {
		border: none;
	}

	a:hover {
		border-bottom: none;
	}
}

@media screen and (max-width: 768px) {
	.h-green {
		padding-top: 10px;

		padding-bottom: 10px;

		height: auto;

	}

	.h-green-p {
		display: flex;

		align-items: center;

		justify-content: center;

		margin-top: 10px;

		margin-bottom: 0;

		width: 7.5rem;

		height: 1rem;

		color: white;

		font-size: 2rem;

	}

	a:hover {
		border-bottom: none;
	}
}

.navbar-nav {
	align-items: center;
}

a {
	border-bottom: 0.3rem solid transparent;

	color: #fff;

	font-size: 1.6rem;

}

a:hover {
	border-bottom: 0.3rem solid #fff;

	color: #fff;

}

.carousel-indicators li {
	width: 1rem;

	height: 1rem;

	border-radius: 50%;

}

.row-text-1 {
	height: 5.76rem;

	color: #999;

	font-size: 1rem;

}

.row-text-2 {
	color: #999;

	font-size: 1rem;

}

.row-font-green {
	display: inline-block;

	margin-left: 1rem;

	color: #26a26f;

	font-size: 1rem;

}

.row-font-black {
	margin-top: 1rem;

	color: black;

	font-size: 1.8rem;

}

.row-greed-icon-wrap {
	display: flex;
}

.row-greed-icon {
	display: flex;

	align-items: center;

	flex-direction: column;

	justify-content: center;

	margin-right: 2rem;

}

@media screen and (max-width: 768px) {
	.row-greed-icon {
		min-width: 250px;

		width: 100%;

	}

	.row-man-icon {
		min-width: 270px;

		border-style: none !important;

	}
}

.row-man-icon {
	border: 0.2rem;

	border-style: dashed;

	border-color: transparent transparent transparent #dedede;

	border-image: url(dashed.png) repeat;

	text-align: center;

}