main {
	padding-top: 5%;
	margin: auto 5%;
}

.col-style {
	border: none padding: 20px;
	text-align: center;
}


.grid-item {
	padding: 20px;
	padding-bottom: 10px;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
}


h1 {
	margin: 5%;
	font-size: 2.5rem;
	color: #333;
}

.content-wrapper {
	display: flex;
	/* 使用 Flexbox 布局 */
	align-items: center;
	/* 垂直居中 */
	justify-content: space-between;
	/* 左右分布 */
}

h3 {
	background-color: #fff;
	/* 设置背景颜色 */
	color: #29b078;
	/* 设置文字颜色 */
	width: 50px;
	/* 宽度 */
	height: 50px;
	/* 高度 */
	border-radius: 50%;
	/* 圆形背景 */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	/* 调整字体大小 */
	margin: 5% 0;
}



.muted p {
	display: flex;
	text-align: center;
	align-items: center;
	margin: 0;
	text-align: left;
	flex: 1;
	margin-left: 20px;
	margin-top: 1px;

}

.grid-item p {
	display: flex;
	align-items: center;
	margin: 0;
	text-align: left;
	flex: 1;
	padding-left: 20%;
}


.grid-item img {
	margin: 10% auto;
	width: 20px;
	height: 20px;
}



#groupCarousel {
	padding-bottom: 40px;
	position: relative;
}


.carousel-indicators {
	position: absolute;
	/* bottom: -30px; */
	/* 向下偏移 */
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
}

/* 圆形样式保持 */
.carousel-indicators [data-bs-target] {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgba(0, 170, 0, 0.3);
	border: 1px solid transparent;
	margin: 0 8px;
	transition: all 0.3s ease;
}

.carousel-indicators .active {
	background-color: #00aa00;
	transform: scale(1.2);
	border: 2px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 其他原有样式 */
.carousel-block {
	padding: 20px 0;
}

.card-body {
	text-align: center;
}

.advisor-card {
	transition: transform 0.3s;
	height: 100%;
}

.advisor-card:hover {
	transform: translateY(-5px);
}

@media (min-width: 992px) {
	.col-lg-5col {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

h2 {
	text-align: center;
}

.img-container {
	background-color: #fff;
	line-height: 10.9375rem;
	overflow: hidden;
	border-radius: 8px;
	margin-bottom: 20px;
	transition: all 0.3s ease;
	object-fit: contain;
	margin: 0 auto;
}

.hover-effect {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease;
}

.img-container:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* 自定义样式 */
.friend-links {
	margin: 20px 0;
}

/* 添加小圆点 */
.friend-links a::before {
	content: "·";
	margin-right: 5px;
	color: #666;
}

/* 适配中等屏幕 */
@media (min-width: 992px) {
	.friend-links .col-md-10per {
		width: 10%;
		float: left;
	}
}

/* 自定义样式 */
.friend-links {
	margin: 20px 0;
}

/* 自定义媒体查询 */
@media (max-width: 767.98px) {

	/* 768px以下两列 */
	.carousel-block .col-sm-3 {
		flex: 0 0 50% !important;
		max-width: 50% !important;
	}
}

@media (max-width: 355.98px) {

	/* 356px以下单列 */
	.carousel-block .col-sm-3 {
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
}